---
import { Dot, Download, Gamepad2, Puzzle, ScrollText } from "@lucide/astro";
import Header from "../components/Header.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { createHash } from "crypto"; // Node.js built-in
import { games } from "../scripts/getters";
import { Git, Npm } from "simple-icons-astro";
import Dock from "../components/Dock.astro";
import Icon from "../assets/icon.svg";
---

<Layout title="Gameflow Deck - Games">
  <Header />
  <div class="divider">
    <Gamepad2 size={48} />Games <span
      class="bg-base-300 font-semibold px-2 rounded-2xl">{games.length}</span
    >
  </div>
  <div class="p-8 pb-16">
    <div
      class="grid h-fit gap-2 md:gap-4 justify-center auto-rows-min grid-cols-[repeat(auto-fill,16rem)]"
    >
      {
        games
          .concat({
            name: (
              <div class="flex gap-2 ">
                <ScrollText />
                {"Contribute to the Store"}
              </div>
            ),
            homepage: "https://github.com/simeonradivoev/gameflow-store/issues",
            covers: [Icon.src],
          })
          .map((g: any) => {
            return (
              <a
                class="bg-base-300 p-2 rounded-2xl cursor-pointer hover:ring-4 ring-primary transition-all"
                title={g.name}
                href={g.homepage}
                target="_blank"
              >
                <div
                  id="preview"
                  class="overflow-hidden bg-base-400 rounded-t-xl rounded-b-md transition-all"
                >
                  <img
                    alt={`Cover Image of ${g.name}`}
                    src={
                      g.covers.find((c: string) => c.startsWith("http")) ??
                      g.covers[0]
                    }
                    class="object-cover aspect-3/4 w-full h-full"
                  />
                </div>
                <div class="flex flex-col grow p-3 justify-center">
                  <div class="font-bold text-nowrap text-ellipsis overflow-hidden">
                    {g.name}
                  </div>
                </div>
              </a>
            );
          })
      }
    </div>
  </div>
  <Dock />
</Layout>
